
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #595959;
  font-size: 16px;
  letter-spacing: 4px;
  text-align: center;
}

p{
  font-family: 'Times';
}

input:focus {
    outline: 2px solid rgb(255, 230, 0);
    box-shadow: 1px 1px 8px 1px rgb(255, 230, 0);
  }

  textarea:focus{
    outline: 2px solid rgb(255, 230, 0);
    box-shadow: 1px 1px 8px 1px rgb(255, 230, 0);
  }
  

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

.yellow{
  color:rgb(255, 230, 0);
  font-size: 30px;
}
  
input, textarea {
  background-color: rgba(11, 98, 60, 0.736);
  border: 1px solid rgba(11, 98, 60, 0.736);
  color: rgb(255, 230, 0);

}

input [type = "submit"]{
  font-family: 'Times';

}

