body{
  display: flex;
  justify-content: center;
}

#comment-form{
  text-align: center;
  color: #595959;
  font-family: sans-serif;
  background-color: #f6f2ea;
  display: inline-block;
  box-shadow: 10px 10px 5px #b5b5b5;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100vh;
}

p{
  font-family: georgia;
}

fieldset{
  border: none;
}

input:focus {
    outline: 2px solid rgb(255, 230, 0);
    box-shadow: 1px 1px 8px 1px rgb(255, 230, 0);
  }

#comment-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea:focus{
    outline: 2px solid rgb(255, 230, 0);
    box-shadow: 1px 1px 8px 1px rgb(255, 230, 0);
}

.full-text-box:focus{
    outline: 2px solid red;
    box-shadow: 1px 1px 8px 1px red;
} 
/* refers to text box at 140 characters */

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }


#character-display{
  font-family: sans-serif;
  margin: auto;
  background-color: yellow;
  width: 300px;
  align-items: center;
}

  
input, textarea {
  background-color: #d891ef;
  border: none;
  color: rgb(255, 230, 0);
  border-radius: 5px;

}

input [type = "submit"]{
  font-family: 'Times';
}

#submit {
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
}

#comment-list{
  height: auto;
  background-color: yellow;
  margin-bottom: 50px;
  padding: 10px 20px 10px 20px;
}

#comment-list p{

  overflow: scroll;

}

@media (max-width: 500px){
  #comment-form{
    width: 90%;
  }

  #comment-list{
    width: 90%;
}
}